
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@0;1&family=Playfair+Display:wght@400;500&family=Roboto+Condensed:wght@300;400;500&family=Roboto:wght@300;400;500&family=Young+Serif&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: 'Alumni Sans Collegiate One', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Young Serif', serif;
}


.css-eqj5no {
  padding: 2rem 5rem !important;
  width: 80vw !important;
  margin-left: auto !important;
}